.ImageOverlay {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-Primary);
  z-index: 999;

  user-select: none;
}

.content {
  border-radius: var(--border-radius);

  background-color: var(--color-PrimaryLight);
  width: auto;
  height: auto;
  padding: 5px;
  position: absolute;
  color: white;
}

.content img {
  border-radius: var(--border-radius);
  height: 700px;
  object-fit: contain;
}

@media only screen and (max-width: 720px) {
  .ImageOverlay {
    display: none;
  }
}
