.contentParent {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  list-style: none;
  justify-content: center;
  padding: 0;
}

.contentElement {
  display: grid;
  padding: 5px;
  width: 530px;
}

.content {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.contentDetails {
  background-color: var(--rich-black);
  padding: 5px;
  border-radius: 0.4em;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover {
  float: left;
  border-radius: 0.4em;
  max-width: 165px;
  max-height: 165px;
  margin: 5px;
  object-fit: cover;
}

.contentElement a {
  text-decoration: none;
  color: white;
}

.contentElement i {
  font-size: 13px;
}

@media only screen and (max-width: 720px) {
  .contentElement {
    width: 100%;
  }

  .content {
    display: block;
  }

  .cover {
    float: none;
  }
}
