.contentParent {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.contentElement {
  position: relative;
  border-radius: 0.4rem;

  background-color: var(--color-PrimaryLight);

  display: grid;
  margin: 5px;
  padding: 5px;
  align-items: center;

  float: left;

  width: min-content;
  /* width: 400px */
  justify-content: center;
  user-select: none;
}

.contentElement:hover .link {
  opacity: 1;
}

.link {
  opacity: 0;

  position: absolute;
  bottom: 10px;
  border: 8px solid rgba(255, 255, 255, 0);
  border-radius: 0.4rem;
  background-color: var(--color-Primary);
  width: 300px;
  margin: 10px;
  padding: 0;
  justify-self: center;

  transition: opacity 230ms ease-in-out;
}

.link ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.link li {
  float: left;
  margin: 2px;
}

.link li a {
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  color: white;
  transition: background-color 230ms ease-in-out;
}

.image {
  position: relative;
  display: inline-block;

  cursor: pointer;
}

.image img {
  /* width: 100%; */
  /* width: 350px; */
  border-radius: var(--border-radius);
  height: 350px;
  object-fit: contain;
}

.imageFilter {
  filter: blur(10px) grayscale(100%);
  transition: filter 100ms;
}

.imageFilter:hover {
  filter: blur(0px) grayscale(0%);
}

.warning {
  display: block;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0%;
  width: 60%;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media only screen and (max-width: 720px) {
  .contentParent {
    flex-flow: column;
  }
  .contentElement {
    flex: none;
    float: none;
    width: auto;
  }

  .ImageOverlay {
    display: none;
  }
}
