.pageContent {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: auto;
  justify-content: center;
}

.contentElement {
  background-color: rgba(77, 77, 77, 0.349);

  overflow: hidden;

  display: grid;

  margin: 5px;
  padding: 6px;
  text-align: center;

  float: left;

  width: min-content;
  /* width: 400px */
  justify-content: center;
}

.link {
  border: 8px solid rgba(255, 255, 255, 0);
  border-radius: 0.4rem;
  background-color: rgba(0, 0, 0, 0.37);

  width: 300px;
  margin: 10px;
  padding: 0;
  justify-self: center;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.link li {
  float: left;
  margin: 2px;
}

.link li a {
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  color: white;
  transition: background-color 230ms ease-in-out;
}

.column {
  /* width: 95%; */
  /* max-width: 50%; */
  padding: 0 4px;
  justify-content: center;
}

.image {
  position: relative;
  display: inline-block;
}

.image img {
  /* width: 100%; */
  /* width: 350px; */
  height: 350px;
  object-fit: contain;
}

.imageFilter {
  filter: blur(10px) grayscale(100%);
  transition: filter 100ms;
}

.imageFilter:hover {
  filter: blur(0px) grayscale(0%);
}

.warning {
  display: block;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0%;
  width: 60%;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media only screen and (max-width: 720px) {
  .pageContent {
    width: auto;
  }

  .contentElement {
    /* width: fit-content; */
    flex: none;
    float: none;
    width: auto;
  }
}
