.contentParent {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: center;
}

.contentElement {
  overflow: hidden;

  background-color: var(--jet);
  /* background: linear-gradient(46deg, #df8fdc 0%, var(--dark-orchid) 82%); */
  border-radius: 0.4rem;
  position: relative;

  display: grid;
  margin: 5px;
  padding: 5px;
  width: fit-content;
  justify-content: center;
}

.colorData {
  /* content: ""; */
  position: absolute;
  width: 100%;
  height: 10%;
  background-color: var(--dark-orchid);
  top: 0%;
  transform: translateY(-50%);
}

.contentElement:hover .aboutCover {
  opacity: 1;
}

.contentElement a {
  text-decoration: none;
  color: white;
}

.contentElement i {
  font-size: 13px;
}

.repoCover {
  max-width: 64px;
  max-height: 64px;
  margin: 10px;
}
.repoContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  overflow-wrap: break-word;
  text-align: center;
  width: 90%;
  margin: auto;
  justify-self: center;
}

.gameGenre {
  border: 8px solid rgba(255, 255, 255, 0);
  border-radius: 0.4rem;
  background-color: var(--timberwolf);
  color: black;

  white-space: nowrap;
  width: 300px;
  margin: auto;
  justify-self: center;
  overflow: hidden;
  text-overflow: ellipsis;

  position: absolute;
  bottom: 0;
  right: 25%;
  left: 50%;
  margin-left: -150px;
}

@media only screen and (max-width: 720px) {
  .contentElement {
    width: 100%;
  }
  .contentElement iframe {
    /* width: 540px; */
    width: max-content;
    justify-self: center;
  }
}
