/* *,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} */

:root {
  --dark-orchid: hsl(283, 81%, 47%);
  --rich-black: hsl(260, 14%, 4%, 0.9);
  --jet: hsl(30, 2%, 16%);
  /* --davys-grey: hsl(36, 3%, 32%); */
  --timberwolf: hsl(46, 15%, 83%);
  --crimson: hsl(352, 70%, 50%); /* OTHER */
}

@import url(https://fonts.googleapis.com/css?family=Kumbh+Sans);

body {
  margin: 0;
}

/* DO NOT REMOVE THE STAR - Otherwise header tags will be bold*/
* {
  scroll-behavior: smooth;
  font-family: "Kumbh Sans", serif;
  font-weight: lighter;
  box-sizing: border-box;
}

html,
body,
body > div:first-child,
div#__next > div {
  height: 100%;
}

body,
html {
  margin: 0;
  background-image: url("https://i.ibb.co/BqsMCtz/background-fall.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pageContent {
  background-color: var(--rich-black);
  color: white;
  border: 3px solid #ffffff;
  border-radius: 0.4em;
  margin: auto;
  padding: 50px;

  text-align: center;
  width: 95.65%;
  max-height: 85%;
  overflow: scroll;
}

footer {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.2);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
