/* *,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} */

:root {
  --color-Accent: hsl(283, 81%, 47%);
  --color-AccentSecondary: hsl(209, 58%, 49%);

  --color-Primary: hsl(260, 14%, 4%, 0.85);
  --color-PrimaryLight: hsl(30, 2%, 16%);
  --color-Secondary: hsl(140, 16%, 96%, 0.85);

  --background-blur: 5px;
  --border-radius: 0.4em;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html,
body,
body > div:first-child,
div#__next > div {
  height: 100%;
}

body,
html {
  scroll-behavior: smooth;
  font-family: "Open Sans", serif;
  font-weight: lighter;

  background-image: url("https://i.ibb.co/R3hGsG8/background-fall.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  /* -webkit-filter: blur(var(--background-blur));
  -moz-filter: blur(var(--background-blur));
  -o-filter: blur(var(--background-blur));
  -ms-filter: blur(var(--background-blur));
  filter: blur(var(--background-blur)); */

  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

section {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.2);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
