.container {
  width: 100%;
  margin: 0 auto;

  /* padding:  10px; */

  /* max-width: 80rem; */
  /* padding: 0 1.5rem; */
}

.accordionItem {
  background-color: rgba(77, 77, 77, 0.349);
  margin-bottom: 1rem;
  padding: 1rem;
}

.accordionLink {
  text-decoration: none;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 0;
}

.accordionLink i {
  color: white;
  padding: 0.5rem;
}

.answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  border-radius: 0.4rem;

  background-color: rgba(0, 0, 0, 0.37);

  transition: max-height 650ms;
}

.answer::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 100%;
  background-color: rgba(157, 0, 218);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.answer p {
  font-size: 1.4rem;
  padding: 1rem;
}

.accordionItem:target .answer {
  max-height: 30rem;
}

.accordionLink .faMinus {
  display: none;
}

.accordionItem:target .accordionLink .faPlus {
  display: none;
}
.accordionItem:target .accordionLink .faMinus {
  display: block;
}

.detailContainer {
  background-color: rgba(0, 0, 0, 0.8); /* Black w/opacity/see-through */
  color: white;
  border: 3px solid #f1f1f1;

  margin: auto auto 50px auto;

  padding: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  max-height: 70%;

  width: 90%;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
}

.toolContainer {
  padding: 10px;
  background-color: rgba(77, 77, 77, 0.349);
}

.tool {
  border-radius: 0.4rem;
  line-height: 1.8;
  background-color: rgba(0, 0, 0, 0.37);
  padding: 0.1rem;
  margin: 1rem;
}

@media screen and (max-width: 1000px) {
  .detailContainer {
    width: auto;
  }
}
