.pageContent {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.toolContainer {
  padding: 10px;
  background-color: var(--jet);
  border-radius: 0.4em;
}

.tool {
  border-radius: 0.4rem;
  line-height: 1.8;
  background-color: var(--rich-black);
  padding: 0.1rem;
  margin: 1rem;
}

.tool a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 720px) {
  .pageContent {
    width: auto;
    padding: 20px;
  }
}
