.aboutContainer {
  background-color: var(--color-PrimaryLight);
  border-radius: var(--border-Radius);
}

.aboutWrap {
  height: 100%;
  display: flex;
  flex-flow: column;
  /* flex-flow: row; */
}

.aboutItem {
  /* width: 100%; */
  border-radius: var(--border-Radius);
  line-height: 1.8;
  background-color: var(--color-Primary);
  padding: 10px;
  margin: 10px;
}

.aboutItem .icon {
  font-size: 40px;
  margin: 5px;
}

.aboutItem a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 720px) {
  .aboutWrap {
    flex-flow: column wrap;
    justify-content: center;
  }
  .aboutItem {
    width: auto;
  }
}
