.main {
  display: flex;
  align-content: center;
  justify-items: stretch;
  justify-content: space-between;
  background-color: var(--color-Primary);
  color: #fff;

  overflow: hidden;

  user-select: none;
}

.headerWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: block;
  max-width: 32px;
  max-height: 32px;
  border-radius: 50%;
  margin: 5px;
}

.linkWrap {
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;

  background-color: var(--color-Primary);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.socialWrap {
  display: flex;
}

.linkItem {
  color: white;

  display: block;
  padding: 12px;
  color: #fff;

  text-decoration: none;

  font-size: 17px;
  text-align: center;
  transition: 230ms ease-in-out;
}

.linkItem:hover {
  background-color: white;
  color: black;
}

@media screen and (max-width: 720px) {
  .main {
    flex-direction: column;
  }
  .headerWrap {
    display: none;
  }
  .linkWrap {
    background-color: none;
    border-radius: 0;

    flex-direction: column-reverse;
    justify-content: center;
  }
  .socialWrap {
    justify-content: center;
  }
}
