.pageContent {
}

@media only screen and (max-width: 720px) {
  .pageContent {
    width: auto;
    height: auto;
    padding: 20px;
  }
  .contentElement {
    width: 100%;
  }
  .contentElement iframe {
    /* width: 540px; */
    width: max-content;
    justify-self: center;
  }
}
